.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/package-lock.json
webview-ui/tsconfig.json
webview-ui/vite.config.ts
webview-ui/.gitignore
esbuild.js
webpack.config.js
