target/
.env
result*.txt
.dedale*
Cargo.lock
ariana-py/*.egg-info/
.ariana-saved-traces/
ariana-npm/*.tgz
# Ignore symlinked server directory (absolute and relative paths)
server
/server
/cli/server
server/
.ariana/
.ariana.json
.vault_secret_key
.traces/
.ariana_saved_traces/
