@import "tailwindcss";
@import "tailwindcss/utilities";
@import './theme.css';

@layer base {
  html {
    font-size: 90%; /* scale all rem-based values */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  height: 100%;
}